.btn {
    font-size: 1rem;
}

.nr-ext-close {
    width: 30px;
    height: 30px;
    background: url(chrome-extension://__MSG_@@extension_id__/assets/img/close.svg) center no-repeat;
    background-size: 20px 20px;
    padding: 0;
}

.nr-bug-container {
    padding: 16px;
    width: 100vw;
    height: 100vh;

    background-color: white;
}

.nr-bug-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nr-bug-content {
    padding: 8px 16px;
    height: calc(100% - 144px);
}
.nr-bug-content h4 {
    font-weight: 700;
}

.nr-bug-url-content {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}
.nr-bug-doc-content {
    display: none;
    padding-bottom: 1.5rem;
    height: 110px;
}
.nr-bug-issue-content {
    display: flex;
    height: calc(100% - 60px);
}

.nr-bug-label {
    width: 160px;
}
.nr-bug-element {
    flex-grow: 1;
}
.nr-bug-element > input,
.nr-bug-element > textarea {
    width: 100%;
    padding: 5px 16px;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    border-width: thin;
}
.nr-bug-element > textarea {
    height: 100% !important;
    overflow-y: auto;
}

.nr-bug-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nr-bug-footer .btn {
    padding: 5px 12px;
    color: #555555;
}
